# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
*.egg-info/

# Env
.env
.env.*
!.env.example

# Node
node_modules/
.next/
dist/
build/
out/

# CDK
cdk.out/
*.d.ts
!infra/**/*.d.ts

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Virtual environment
venv/
.venv/
